
p{
    color:red;
    font-size: 12px;
    font-family: Verdana;
}

body{
    background-color: rgb(214, 209, 202);
}

.menu{
    font-size: 14px;
    font-weight: bold;
    color:green;
    font-family: verdana;
}

.lista{
    font-size: 12px;
    font-weight: bold;
    color:blueviolet;
    font-family: verdana;
}

.titulo{
    font-size: 12px;
    font-weight: bold;
    color:black;
    font-family: verdana;

}

label{
    font-size: 12px;
    font-weight: bold;
    color: green;
    font-family: verdana;
}

#formuser{
    background-color: khaki;
}

.container {
    border: 3px solid brown;
    width: 500px;
}

.div1 {
    background-color: red;
}

.div2 {
    background-color:green;
}

.div3 {
    background-color:blue;
}

.div4 {
    background-color:orange;

}

.div5 {
    background-color:violet;
}